<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zcc.game.mapper.UserMapper">
 
 <sql id="baseUserColoumn">
 		*,
 		bank_num as bankNum,
 		bank_name as bankName,
 		jf_diya as jfDiya,
 		task_token as taskToken,
 		create_date as createDate,
 		lastup_date as lastupDate
 </sql>
 <select id="getUsers" resultType="com.zcc.game.vo.UserVO">
 	select 
 		<include refid="baseUserColoumn"/>
 	 from gm_user_t
 	 <where>
 	 	<if test="status != null">
			and status=#{status}
		</if>
 	 	<if test="id != null">
			and id=#{id}
		</if>
		<if test="account != null">
			and account=#{account}
		</if>
		<if test="password != null">
			and password=#{password}
		</if>
 	 </where>
 </select>
 <select id="getChilds" resultType="com.zcc.game.vo.UserVO">
 	select 
 		<include refid="baseUserColoumn"/>
 	 from gm_user_t
 	 <where>
 	 	<if test="id != null">
			and pid=#{id}
		</if>
 	 </where>
 	 order by id desc
 </select>
 <insert id="insertUser">
 	INSERT INTO gm_user_t (account,password,safepwd,jfzhuce,jf_diya,status,pid,paccount,pusername,ptelephone,username,jfold,create_date)
	VALUES (#{account},#{password},#{safepwd},#{jfzhuce},#{jfDiya},'0',#{pid},
	(SELECT account FROM gm_user_t t WHERE t.id=#{pid}),
	(SELECT username FROM gm_user_t t WHERE t.id=#{pid}),
	(SELECT telephone FROM gm_user_t t WHERE t.id=#{pid}),#{username},
	#{jfold},NOW());
	update gm_user_t set jfcenter=jfcenter-#{jfzhuce}+#{version},user_type=1 where id=#{pid}
 </insert>
 
 <update id="updateBusiness">
		UPDATE gm_business_t  
		<set>
			<if test="voucher != null">
				voucher=#{voucher},
			</if>
			lastup_date=NOW()
		</set>
		<where>
			<if test="id != null">
				and id=#{id}
			</if>
		</where>
	</update>
	
	<update id="updateUser">
		UPDATE gm_user_t  
		<set>
			<if test="password != null">
				PASSWORD=#{password},
			</if>
			<if test="safepwd != null">
				safepwd=#{safepwd},
			</if>
			<if test="username != null">
				username=#{username},
			</if>
			<if test="telephone != null">
				telephone=#{telephone},
			</if>
			<if test="alipaypic != null">
				alipaypic=#{alipaypic},
			</if>
			<if test="weixinpic != null">
				weixinpic=#{weixinpic},
			</if>
			<if test="bankName != null">
				bank_name=#{bankName},
			</if>
			<if test="bankNum != null">
				bank_num=#{bankNum},
			</if>
			<if test="jfzhuce != null">
				jfzhuce=jfzhuce+#{jfzhuce},
			</if>
			<if test="jfcenter != null">
				jfcenter=jfcenter+#{jfcenter},
			</if>
			<if test="jftask != null">
				jftask=jftask+#{jftask},
			</if>
			<if test="jfbusiness != null">
				jfbusiness=jfbusiness+#{jfbusiness},
			</if>
			<if test="pretake != null">
				pretake=pretake+#{pretake},
			</if>
			<if test="taskToken != null">
				task_token=#{taskToken},
			</if>
			<if test="usedtoken != null">
				usedtoken=#{usedtoken},
			</if>
			<if test="status != null">
				STATUS=#{status},
			</if>
			<if test="version != null">
				version=#{version},
			</if>
			<if test="prejftask != null">
				prejftask=#{prejftask},
			</if>
			lastup_date=NOW()
		</set>
		<where>
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="account != null">
				and account=#{account}
			</if>
		</where>
	</update>
 
 <update id="gaveToken">
		UPDATE gm_user_t  
		set task_token=task_token+#{taskToken}
		<where>
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="account != null">
				and account=#{account}
			</if>
		</where>
 </update>
 
 <insert id="addGiveToken">
 	INSERT INTO gm_givetoken_t (account,pid,num,createdate) VALUES(#{account},#{pid},#{num},NOW())
 </insert>
 <select id="getGiveToken" resultType="com.zcc.game.vo.GiveTokenVO">
 	SELECT * FROM gm_givetoken_t 
 	<where>
			<if test="pid != null">
				and pid=#{pid}
			</if>
			<if test="account != null">
				and account=#{account}
			</if>
		</where>
 </select>
 <select id="getParam" resultType="com.zcc.game.vo.ParamVO">
 	SELECT * FROM gm_backparam_t 
 	where number=#{number}
 </select>
 
 <insert id="addChangeCenter">
 	INSERT INTO gm_changecenter_t (TYPE,STATUS,num,userid,createdate) VALUES(#{type},#{status},#{num},#{userid},now())
 </insert>
  <select id="getCenterJf" resultType="com.zcc.game.vo.ChangeCenterVO">
 	SELECT * FROM gm_changecenter_t 
 	<where>
			<if test="userid != null">
				and userid=#{userid}
			</if>
			<if test="type != null">
				and type=#{type}
			</if>
		</where>
		order by id desc
 </select>
 <!-- 最新反馈 -->
 <insert id="addReply">
 	INSERT INTO gm_reply_t (msgid,userid,useraccount,type,content,image1,image2,image3,image4,image5,create_date)
 	VALUES (#{msgid},#{userid},(SELECT account FROM gm_user_t WHERE id=#{userid}),#{type},
 	#{content},#{image1},#{image2},#{image3},#{image4},#{image5},now());
 </insert>
</mapper>